<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<br>
<% @genre.movies.each do |movie| %>
	<br>
	<%= movie.title %>
	Has a rating of <%= movie.rating %>
	<br>
<% end %>
<br>
<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
